:root{
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family-monospace: "Liberation Mono", "Courier New", monospace; 
  --font-family-sans-serif:"Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
}

/******************* FONTS ****************************/
@font-face {
  font-family: "GraffitiYouth";
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/graffiti_youth/GraffitiYouth-Regular.otf) format("truetype");
}
@font-face {
  font-family: "bombing";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/bombing/Bombing.ttf) format("truetype");
}
@font-face {
  font-family: "grafUrbain";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/graffiti_urban/GraffitiUrban-Regular.otf) format("truetype");
}
@font-face {
  font-family: "jakarta";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/spartical_graffiti/SparticalGraffiti_PERSONAL_USE_ONLY.otf)
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

button{
  background-color: cornflowerblue;
  -webkit-text-fill-color: white;
  font-family:GraffitiYouth, 'Courier New', Courier, monospace;
}

body {
  background-image: url("/img/NY3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  font-family:GraffitiYouth, 'Courier New', Courier, monospace;
}
/******************* MAIN ****************************/
main {
  text-align: center;
}

/*-------------------------HIDE MENU MOBILE TOGGLE----------------------------*/
.container_hamburger {
  background: #33619387;
  color: #6ecddd;
  font-family: Arial;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  display: none;
}

#toggle {
  display: none;
}

/** Hamburger **/
.hamburger {
  position: absolute;
  top: 4em;
  right: 0%;
  margin-left: -2em;
  margin-top: -45px;
  width: 3em;
  height: 45px;
  cursor: pointer;
  z-index: 50;
}
.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: #f8982b;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

/** Nav Styles **/
.navToggle {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #090e6bf4;
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  z-index: 1;
}
.navToggle-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}
#menuToggle {
  text-align: left;
  margin-left: 25%;
}
#menuToggle a {
  position: relative;
  text-decoration: none;
  color: #6ecddd;
  font-size: 2em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
  background-color: #dd996e;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
}
#menuToggle a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
#menuToggle a:hover {
  color: white;
}
#menuToggle a:hover:before {
  height: 100%;
}

/** Animations **/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}
#toggle:checked + .hamburger + .navToggle {
  top: 0;
  transform: scale(1);
}
/*-------------------------FIN MOBILE TOGGLE----------------------------*/

/***********************************************/

/******************* TOP ****************************/
#hautMain {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#scores1 {
  position: absolute;
  width: 20%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
  display: none;
}
#scores2 {
  position: absolute;
  width: 20%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  right: 10px;
  background-color: orange;
  display: none;
}
.score {
  position: relative;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  -webkit-text-fill-color: white;
  background-color: green;
}

#tuRecommences {
  position: absolute;
  margin-top: 5%;
  left: 30%;
  font-size: 2rem;
  color: red;
}

/******************* DOWN ****************************/
#centerMain {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
  top: 100px;
}

#bandeauInfos {
  width: auto;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 2rem;
  color: beige;
  letter-spacing: 2px;
}

/******************* CADRE DU JEU ****************************/
#msgGroup {
  width: 100%;
  position: relative;
  text-align: center;
}
#winMessage {
  width: 20%;
  height: auto;
  position: absolute;
  top: 10px;
  margin-left: 40%;
  margin-right: auto;
  font-size: 3rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 2px 10px;
  color: orange;
  display: none;
}

#tripleWinMessage {
  width: 20%;
  height: auto;
  position: absolute;
  top: 10px;
  margin-left: 40%;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: red;
  font-size: 3rem;
  display: none;
}

h2 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 15%;
  left: 0px;
  font-family: GraffitiYouth, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 10rem;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 3px black;
  border: none;
  padding: 10px 30px;
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 red,
    -3px -3px 0 #000,
    3px -3px 0 red;
}

#pseudoManque {
  width: 100%;
  height: auto;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 4rem;
  padding: 20px 0px;
}

#time_out {
  width: 50%;
  height: auto;
  position: absolute;
  top: 40px;
  text-align: center;
  color: red;
  border-radius: 5px;
  border: none;
  font-family: bombing, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  font-size: 5rem;
  padding: 20px 0px;
  background-color: white;
  z-index: 100;
}

/******************* CADRE INT DU JEU ****************************/
.cadreDe {
  background-image: url(/img/ny1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.cadreDe {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 50px;
  border-radius: 1rem;
  justify-content: center;
  justify-content: space-around;
  background-color: rgba(7, 205, 139, 0.704);
}

.cadre {
  margin-left: 20px;
}
#cadreDe1 {
  width: auto;
  height: 100%;
}

.leDe {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  border: 1px solid grey;
  display: none;
}

.leDeWrap {
  position: relative;
  height: 100%;
}

.de1 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 45%;
  background-color: black;
  display: none;
}

.de2 {
  display: none;
}
.pointHaut2 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBas2 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}

.de3 {
  display: none;
}
.pointHaut3 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointCentre3 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 90px;
  top: 45%;
  background-color: black;
}
.pointBas3 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}

.de4 {
  display: none;
}
.pointHautG4 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 5%;
  background-color: black;
}
.pointBasG4 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}
.pointHautD4 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBasD4 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 85%;
  background-color: black;
}

.de5 {
  display: none;
}
.pointHautG5 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 5%;
  background-color: black;
}
.pointBasG5 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}
.pointCentre5 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 90px;
  top: 45%;
  background-color: black;
}
.pointHautD5 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBasD5 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 85%;
  background-color: black;
}

.de6 {
  display: none;
}
.pointHautG6 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 5%;
  background-color: black;
}
.pointBasG6 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}
.pointCentreG6 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 45%;
  background-color: black;
}
.pointCentreD6 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 45%;
  background-color: black;
}
.pointHautD6 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBasD6 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 85%;
  background-color: black;
}

.resExt {
  width: auto;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#resultat {
  width: 100%;
  position: absolute;
  font-size: 1.5rem;
  color: white;
}

/****************************** LANCER DE N2 **********************************/
#cadreDe2 {
  width: auto;
  height: 100%;
}
.leDeBis {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: relative;

  top: 40%;
  border: 1px solid grey;
  display: none;
}

.leDeBisWrap {
  position: relative;
  height: 100%;
}

.deBis1 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 45%;
  background-color: black;
  display: none;
}

.deBis2 {
  display: none;
}
.pointHaut2Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBas2Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}

.deBis3 {
  display: none;
}
.pointHaut3Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointCentre3Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 90px;
  top: 45%;
  background-color: black;
}
.pointBas3Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}

.deBis4 {
  display: none;
}
.pointHautG4Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 5%;
  background-color: black;
}
.pointBasG4Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}
.pointHautD4Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBasD4Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 85%;
  background-color: black;
}

.deBis5 {
  display: none;
}
.pointHautG5Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 5%;
  background-color: black;
}
.pointBasG5Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}
.pointCentre5Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 90px;
  top: 45%;
  background-color: black;
}
.pointHautD5Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBasD5Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 85%;
  background-color: black;
}

.deBis6 {
  display: none;
}
.pointHautG6Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 5%;
  background-color: black;
}
.pointBasG6Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}
.pointCentreG6Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 45%;
  background-color: black;
}
.pointCentreD6Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 45%;
  background-color: black;
}
.pointHautD6Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBasD6Bis {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 85%;
  background-color: black;
}

.resExtBis {
  width: auto;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#resultatBis {
  width: 100%;
  position: absolute;
  font-size: 1.5rem;
  color: white;
}

/****************************** CHOIX **********************************/

/****************************** LANCER DE N3 **********************************/
#cadreDeTrois {
  width: auto;
  height: 100%;
}
.leDeTrois {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  border: 1px solid grey;
  /*display: none;*/
}

.leDeTroisWrap {
  position: relative;
  height: 100%;
}

.deTrois1 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 45%;
  background-color: black;
  display: none;
}

.deTrois2 {
  display: none;
}
.pointHaut2Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBas2Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}

.deTrois3 {
  display: none;
}
.pointHaut3Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointCentre3Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 90px;
  top: 45%;
  background-color: black;
}
.pointBas3Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}

.deTrois4 {
  display: none;
}
.pointHautG4Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 5%;
  background-color: black;
}
.pointBasG4Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}
.pointHautD4Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBasD4Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 85%;
  background-color: black;
}

.deTrois5 {
  display: none;
}
.pointHautG5Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 5%;
  background-color: black;
}
.pointBasG5Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}
.pointCentre5Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 90px;
  top: 45%;
  background-color: black;
}
.pointHautD5Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBasD5Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 85%;
  background-color: black;
}

.deTrois6 {
  display: none;
}
.pointHautG6Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 5%;
  background-color: black;
}
.pointBasG6Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 85%;
  background-color: black;
}
.pointCentreG6Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 45%;
  background-color: black;
}
.pointCentreD6Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  top: 45%;
  background-color: black;
}
.pointHautD6Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 5%;
  background-color: black;
}
.pointBasD6Trois {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 85%;
  background-color: black;
}

.resExtTrois {
  width: auto;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#resultatTrois {
  width: 100%;
  position: absolute;
  font-size: 1.5rem;
  color: white;
}

#cadreChoix {
  display: flex;
  width: auto;
  height: auto;
  position: absolute;
}

/****************************** BOUTTON **********************************/
.btnG {
  margin-top: 20px;
}
#boutonsGroup {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0px;
  padding: 10px 20px;
  justify-content: space-around;
}

#btRetour {
  width: auto;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  box-shadow: 1px 3px #50514f;
  transition: 0.3s;
}
#btRetour:hover,
#btRetour:active {
  outline: none;
  background-color: #50514f;
  cursor: pointer;
  transform: translateY(5px);
}
#btRetour2 {
  width: auto;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: large;
  box-shadow: 1px 3px #50514f;
  transition: 0.3s;
  display: none;
}
#btRetour2:hover,
#btRetour2:active {
  outline: none;
  background-color: #50514f;
  cursor: pointer;
  transform: translateY(5px);
}

#btReglage {
  width: auto;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  box-shadow: 1px 3px #50514f;
  transition: 0.3s;
}
#btReglage:hover,
#btReglage:active {
  outline: none;
  background-color: #50514f;
  cursor: pointer;
  transform: translateY(5px);
}

#recommenceGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#btRecommence {
  width: auto;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  align-self: flex-start;
  box-shadow: 1px 3px #50514f;
  transition: 0.3s;
}
#btRecommence:hover,
#btRecommence:active {
  outline: none;
  background-color: #50514f;
  cursor: pointer;
  transform: translateY(5px);
}

#btFin {
  width: auto;
  position: absolute;
  left: 45%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  color: white;
  background-color: red;
  box-shadow: 1px 3px #50514f;
  transition: 0.3s;
  display: none;
  z-index: 1010;
}

#chanceExt {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#btnChance {
  width: auto;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  background-color: #20c997;
  box-shadow: 1px 3px #50514f;
  transition: 0.3s;
  z-index: 1010;
}
button#btnChance:hover,
button#btnChance:active {
  outline: none;
  background-color: #50514f;
  cursor: pointer;
  transform: translateY(5px);
}

#btChangerJoueur {
  width: auto;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  box-shadow: 1px 3px #50514f;
  transition: 0.3s;
}
#btChangerJoueur:hover,
#btChangerJoueur:active {
  outline: none;
  background-color: #50514f;
  cursor: pointer;
  transform: translateY(5px);
}

/***************************** RESPONSIVE ********************************************/

@media screen and (max-width: 768px) {
h2{
  top: 0px;
  font-size: 8rem;
}

  #resultat,
  #resultatBis,
  #resultatTrois {
    display: none;
  }

  .scores {
    font-size: 0.5rem;
    top: 13%;
  }
  .score {
    font-size: 1rem;
  }

  #accueilGroup {
    width: 100%;
  }
  #bandeauInfos {
    width: auto;
    font-size: 1.5rem;
    padding-top: 0px;
  }

  #recommenceGroup {
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #centerMain {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    top: 0px;
  }

  #winMessage {
    width: auto;
    z-index: 1;
  }
  #tripleWinMessage {
    width: auto;
    z-index: 1;
  }

  #time_out {
    border: 1px solid black;
  }

  .cadreDe {
    flex-wrap: wrap;
    width: 100%;
    top: 10%;
  }
  #cadreDe1 {
    height: auto;
  }
  .leDe {
    top: 0px;
  }
  #cadreDe2 {
    height: auto;
  }
  .leDeBis {
    top: 0px;
  }
  #cadreDeTrois {
    height: auto;
  }
  .leDeTrois {
    top: 0px;
  }
  #titreJeu {
    font-size: 300%;
  }
  #titreJeu {
    top: 0px;
    height: 100%;
  }

  #chanceExt {
    width: 100%;
    position: relative;
    top: -30px;
  }
  #btChance {
    left: 35%;
  }
  #btFin {
    top: 0px;
    left: 35%;
  }
  #boutonsGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 76%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 425px) {
  #titreJeu {
    font-size: 200%;
}

  h2 {
    top: 0px;
    font-size: 6rem;
}

  #hautMain {
    padding: 1px;
  }
#bandeauInfosInt{
    width: 85%;
  }
  .score {
    font-size: inherit;
}
  #scores1 {
    width: auto;
    font-size: 0.6rem;
  }
  #scores2 {
    width: auto;
    font-size: 0.6rem;
  }

  #msgGroup {
    z-index: 2;
  }
  #winMessage {
    width: auto;
    font-size: 1rem;
  }
  #tripleWinMessage {
    width: auto;
    font-size: 1rem;
  }

  #centerMain {
    padding: 0px 5px;
  }

  #btRetour {
    width: auto;
    padding: 10px;
    font-size: inherit;
  }
  #btReglage {
    padding: 10px;
    font-size: inherit;
  }
  #btChangerJoueur {
    padding: 10px;
    font-size: inherit;
  }
  #chanceExt {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 23%;
  }
  #btnChance {
    position: relative;
    top: 0px;
    padding: 10px;
    font-size: inherit;
  }
  #btFin {
    position: relative;
    padding: 10px;
    font-size: inherit;
  }

  #bandeauInfos {
    width: 100%;
    padding: inherit;
    font-size: inherit;
  }

  #recommenceGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    margin-top: 100px;
    z-index: 1;
  }
  #btRecommence {
    padding: 10px;
    font-size: inherit;
  }

  .cadreDe {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    border-radius: inherit;
  }

  #btChance {
    top: 85%;
    left: 30%;
  }

  #time_out {
    display: none;
    width: 100%;
  }

  .leDe,
  .leDeBis,
  .leDeTrois {
    width: 100px;
    height: 100px;
  }

  /*****************************/
  .container_hamburger {
    display: block;
    z-index: 30;
       }
       .hamburger{
           top: 3em;
       }
       #menuToggle{
           margin-top: 50px;
           margin-left: 0px;
       }
       
       #menuToggle a{
           width: 100%;
       }
       
       .navToggle{
           z-index: 40;
       }
       
       #reza{
           width: 100%;
           padding: inherit;
       }
       #btReza{
           width: 100%;
           font-size: 1.5em;
           padding: 20px 0px;
       }

  .pointCentre5 {
    right: 35px;
  }
  .pointCentre5Bis{
    right: 40px;
  }
  .pointBasG5,
  .pointBasD5 {
    top: 70%;
  }

  .pointCentre3Bis {
    right: 40px;
    top: 35px;
  }
  .pointBas3Bis {
    left: 3px;
    top: 75px;
  }

  .pointCentre3 {
    left: 40px
  }

  .pointCentre3Trois {
    right: 35px;
    top: 35px;
  }
  .pointCentre5Trois {
    right: 35px;
  }
  .pointBas3Trois {
    left: 3px;
    top: 75px;
  }
}
